ESPMH_HOSTNAME=milight-hub-test

# Used to test states, etc.
ESPMH_TEST_DEVICE_ID_BASE=0x2200

# MQTT server/auth.  Used for MQTT tests
ESPMH_MQTT_SERVER=my-mqtt-server
ESPMH_MQTT_USERNAME=username
ESPMH_MQTT_PASSWORD=password
ESPMH_MQTT_TOPIC_PREFIX=milight_test/

# Settings to test static IP
ESPMH_STATIC_IP=192.168.1.200
ESPMH_STATIC_IP_NETMASK=255.255.255.0
ESPMH_STATIC_IP_GATEWAY=192.168.1.1

# Settings to test UDP server
ESPMH_V5_UDP_PORT=8888
ESPMH_V6_UDP_PORT=8889
ESPMH_DISCOVERY_PORT=8877