ESPMH_HOSTNAME=milight-hub-test

# Used to test states, etc.
ESPMH_TEST_DEVICE_ID_BASE=0x2200

# MQTT server/auth.  Used for MQTT tests
ESPMH_MQTT_SERVER=my-mqtt-server
ESPMH_MQTT_USERNAME=username
ESPMH_MQTT_PASSWORD=password
ESPMH_MQTT_TOPIC_PREFIX=milight_test/