.header-row { border-bottom: 1px solid #ccc; }
label { display: block; }
.radio-option { padding: 0 5px; cursor: pointer; }
.command-buttons { list-style: none; margin: 0; padding: 0; }
.command-buttons li { display: inline-block; margin-right: 1em; overflow: auto; }
.form-entry { margin: 0 0 20px 0; }
.form-entry .form-control { width: 20em; }
.form-entry label { display: inline-block; }
label:not(.error) .error-info { display: none; }
.error-info { color: #f00; font-size: 0.7em; }
.error-info:before { content: '('; }
.error-info:after { content: ')'; }
.header-btn { margin: 20px; }
.gateway-add-btn { float: right; }
#content .dropdown { position: initial; overflow: auto; }
#content .dropdown-menu li { display: block; }
#traffic-sniff { display: none; }
#sniffed-traffic { max-height: 50em; overflow-y: auto; }
.dropdown label { display: inline-block; }
.navbar { background-color: rgba(41,41,45,.9) !important; border-radius: 0 }
.navbar-brand, .navbar-brand:hover { color: white; }
.btn-secondary {
  background-color: #fff;
  border: 1px solid #ccc;
}
.inline { display: inline-block; }
.white-temp-picker {
  height: 2em;
  background: linear-gradient(to right,
    rgb(166, 209, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 160, 0) 100%
  );
  display: inline-block;
  padding: 3px 0;
}
.hue-picker {
  height: 2em;
  width: 100%;
  display: block;
}
.hue-picker-inner {
  height: 2em;
  width: calc(100% - 3em);
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(to right,
    rgb(255, 0, 0) 0%,
    rgb(255, 255, 0) 16.6667%,
    rgb(0, 255, 0) 33.3333%,
    rgb(0, 255, 255) 50%,
    rgb(0, 0, 255) 66.6667%,
    rgb(255, 0, 255) 83.3333%,
    rgb(255, 0, 0) 100%
  );
}
.hue-value-display {
  border: 1px solid #000;
  margin-left: 0.5em;
  width: 2em;
  height: 2em;
  display: inline-block;
}
.plus-minus-group {
  overflow: auto;
  width: 100%;
  clear: both;
  display: block;
}
.plus-minus-group button:first-of-type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float: left;
  display: block;
}
.plus-minus-group button:last-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: block;
}
.plus-minus-group .title {
  border-width: 1px 0;
  border-color: #ccc;
  border-style: solid;
  padding: 5px 5px 5px 7px;
  margin: 0;
  height: 34px;
  line-height: 1.49;
  float: left;
  display: block;
}
.field-help {
  display: inline-block;
  font-size: 1.25em;
  margin-left: 0.5em;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px;
}
footer {
  height: 200px;
}
@media only screen and (min-width : 320px) {
  body {
    margin-bottom: 250px;
  }
}
@media only screen and (min-width : 480px) {
  body {
    margin-bottom: 200px;
  }
}
@media only screen and (min-width : 768px) {
  body {
    margin-bottom: 158px;
  }
}
@media only screen and (min-width : 992px) {
  body {
    margin-bottom: 116px;
  }
}

.modal-body .section-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.2em;
}

#sniff .glyphicon-play {
  color: #6f6;
}

#sniff .glyphicon-stop {
  color: #f66;
}

ul.action-buttons {
  list-style: none;
  padding: 0;
}

.action-buttons li {
  display: inline-block;
}

.action-buttons li:not(:first-child) {
  margin-left: 0.5em;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.selectize-delete { float: right; }
.c-selectize-item { margin: 0 1em; }